@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/gustavo-cabral-deola-3aab86220/">Gustavo Deola</a><br/>
    <strong>Email:</strong> <a href="gustavodeola@gmail.com">gustavodeola@gmail.com</a>
    <strong>Whatsapp: (47) 99956-1612</strong
</address>